.background-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.floating-lines-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
